body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    width: 90%;
    margin: 25px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.campaign-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

.campaign-header img {
    max-width: 300px;
    margin-right: 20px;
    border-radius: 10px;
}

.campaign-header h1 {
    font-size: 2em;
    margin: 0;
}

.card {
    background-color: #e7e5e5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.internalcard{
    background-color: #3e5165;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.card p {
    margin: 10px 0;
    font-size: 1.2em;
    line-height: 1.6;
}

.campaign-details {
    flex: 1;
    margin-left: 20px;
}

.contribute-section input[type="number"] {
    padding: 10px;
    font-size: 1em;
    width: 150px;
    margin-right: 30px;
}

.contribute-section button {
    padding: 12px 24px;
    font-size: 1em;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contribute-section button:hover {
    background-color: #e05246;
}

.button-container {
    display: flex;
    gap: 30px; /* Adds some space between the buttons */
}

.button-container form {
    margin: 0; /* Removes default margin from forms */
}

.internalcard p{
    color: #fff;
    margin: 10px 0;
    /* font-size:em; */
    line-height: 1.5;
}