body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 32px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.sidebar {
    width: 100px;
    background-color: #444;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 85px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    display: block;
    padding: 15px;
    margin-left: 20%;
}

.sidebar ul li a i {
    margin-right: 20px;
}

.content {
    margin: 50px;
    padding: 20px;
    margin-left: 150px;
}

.content {
    background-color: #444;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

nav ul li a i {
    margin-right: 10px;
}

.campaign-card {
    background-color: #dad7d7;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
    padding: 20px;
    box-sizing: border-box;
}

.campaign-card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.campaign-card h3 {
    color: #333;
    margin-top: 0;
}

.campaign-card p {
    color: #555;
    margin-top: 0;
}

.progress-bar {
    background-color: #f0f0f0;
    border-radius: 5px;
    height: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.progress {
    background-color: #42c247;
    height: 100%;
    width: 50%; /* Example progress */
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.campaign-card {
    display: block;
    text-decoration: none;
    color: inherit;
}
.campaign-card:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}