<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>CrowdFunding</h1>
            <nav>
                <ul>
                    <li><a href="/create_campaign">Create Campaign</a></li>
                    <li><a href="#" id="connectWalletBtn">Connect Wallet</a></li>
                    <li><a href="/view_transactions">View Transactions</a></li>
                    <li><a href="/homepage">Home</a></li>
                    <li><a href="/user_profile">Profile</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="walletModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <center>
                <h2>Connect Your MetaMask Wallet Here!</h2>
                <p id="walletAddress"></p>
                <p id="walletBalance"></p>
                <button id="connectMetaMaskBtn">Connect MetaMask Wallet</button>
                <button id="getBalance" style="display:none;">Get Balance</button>
                <br>
                <button id="disconnectWallet" style="display:none;">Disconnect Wallet</button>
            </center>
        </div>
    </div>

    <script>
        document.getElementById('connectWalletBtn').addEventListener('click', async function () {
            const loggedIn = await isUserLoggedIn();
            if (!loggedIn) {
                alert('Please log in or sign up first.');
                window.location.href = '/login';
                return;
            }
            document.getElementById('walletModal').style.display = 'block';
        });

        document.getElementsByClassName('close')[0].addEventListener('click', function () {
            document.getElementById('walletModal').style.display = 'none';
        });

        document.getElementById('connectMetaMaskBtn').addEventListener('click', function () {
            checkInstalled();
        });

        document.getElementById('getBalance').addEventListener('click', function () {
            checkBalance();
        });

        document.getElementById('disconnectWallet').addEventListener('click', function () {
            signOutOfMetaMask();
        });

        async function isUserLoggedIn() {
            const response = await fetch('/is_logged_in');
            const data = await response.json();
            return data.logged_in;
        }

        async function checkInstalled() {
            if (typeof window.ethereum == 'undefined') {
                document.getElementById('walletModal').innerHTML = "<center>MetaMask isn't installed, please install it.</center>";
                return false;
            }
            connectWalletwithMetaMask();
        }

        async function connectWalletwithMetaMask() {
            const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' })
                .catch((e) => {
                    console.error(e.message);
                    return;
                });

            if (!accounts) { return; }

            window.userWalletAddress = accounts[0];
            fetch('/update_wallet', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ wallet_address: accounts[0] })
                    });
            document.getElementById('walletAddress').innerText = "Connected Wallet Address: " + window.userWalletAddress;
            document.getElementById('connectMetaMaskBtn').style.display = 'none';
            document.getElementById('getBalance').style.display = 'block';
            document.getElementById('disconnectWallet').style.display = 'block';
        }

        async function signOutOfMetaMask() {
            window.userWalletAddress = null;
            document.getElementById('walletAddress').innerText = 'Wallet Disconnected';
            document.getElementById('walletBalance').innerText = '';
            document.getElementById('connectMetaMaskBtn').style.display = 'block';
            document.getElementById('getBalance').style.display = 'none';
            document.getElementById('disconnectWallet').style.display = 'none';
        }

        async function checkBalance() {
            if (!window.userWalletAddress) {
                alert('Please connect to MetaMask first.');
                return;
            }

            let balance = await window.ethereum.request({
                method: "eth_getBalance",
                params: [
                    window.userWalletAddress,
                    'latest'
                ]
            }).catch((err) => {
                console.log(err);
            });

            document.getElementById('walletBalance').innerText = "Wallet Balance: " + parseFloat((balance) / Math.pow(10, 18)) + " ETH";
        }
    </script>
</body>

</html>
