<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crowdfunding Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    {% include 'header.html' %}

    <div class="opener">
        <p>Crowdfunding Platform showcasing student campaigns and donation drives, <br>using the pwoer of Blockchain and MetaMask</p>
        <!-- <a href="/create_campaign">Create Campaign</a> -->
        <form action="/create_campaign">
            <button id="create" type="submit">Create Campaign</button>
        </form>
        <br><br><br>
        <li>Ongoing Campaigns</li>
        <hr>
    </div>

    <div class="content">
        {% for campaign in campaigns %}
        <a href="/campaign/{{ campaign.name }}" class="campaign-card">
            <img src="{{ campaign.image }}" alt="Campaign Image">
            <h3>{{ campaign.name }}</h3>
            <!-- <p>{{ campaign.description }}</p> -->
            <div class="progress-bar">
                <div class="progress" style="width: {{ campaign.progress }}%;"></div>
            </div>
            <p>Target Amount: ${{ campaign.target_amount }}</p>
            <p>Minimum Contribution: ${{ campaign.min_contribution }}</p>
        </a>
        {% endfor %}
    </div>
</body>
</html>
